body {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-left: 5vw;
	padding-right: 5vw;

	overflow-x: hidden;
}

h1 {
	color: #7e4e1f;
	width: fit-content;
}

h2 {
	color: #7e4e1f;
	width: 100%;
	margin-bottom: 0;
	margin-left: 0;
}

h3 {
	color: #7e4e1f;
	width: 100%;
	margin-bottom: 0;
	margin-left: 0;
}


p {
	width: 100%;
	font-size: 20px;
	align-content: center;
	color: #6e441b;
	height: fit-content;
	margin-bottom: 0;
}

.date {
	margin-top: 0;
	width: 100%;
	font-size: 15px;
	align-content: center;
	color: #6e441b;
	height: fit-content;
	margin-bottom: 0;
}

ul {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0; 
	padding-bottom: 0;
}

li {
	width: 100%;
	font-size: 20px;
	align-content: center;
	color: #6e441b;
	height: fit-content;
	margin-bottom: 0;
}