body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
}

#header {
	overflow:hidden;

	display: flex;
	flex-grow: 0;

	height: fit-content;

	background-color: #a8956d;

	justify-content: space-between;
	column-gap: 20px;

	border-bottom-style: solid;
	border-width: 2px;
	border-image: radial-gradient(rgb(0, 0, 0), rgb(136, 121, 88)) 1;
}

#name {
	font-size: 24px;
	padding: 5px;
	color: #2f210a;
}

#fans {
	justify-content: flex-end;
	flex-direction: row;
	display: flex;
}

.fan {
	font-size: 24px;
	padding: 5px;
	color: #2f210a;
}

#main {
	flex-grow: 1;
	overflow: scroll;

	border: 0;
	background: rgb(168,149,109);
	background: linear-gradient(180deg, rgba(168,149,109,1) 0%, rgba(194,178,146,1) 50%, rgba(194,210,198,1) 100%); 
}

#footer {
	overflow:hidden;
	height: fit-content;
	background-color: #c2d2c6;
	justify-content: space-between;
	align-items: center;

	border-top-style: solid;
	border-width: 2px;
	border-image: radial-gradient(rgb(0, 0, 0), rgb(179, 180, 179)) 1;
}

.in_the_foot {
	padding: 5px;
}

.top_level{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;

}

#selected {
	color: #593e12;

	background: rgb(194,210,198);
	background: radial-gradient(closest-side, rgba(194,210,198,1) 0%, rgba(168,149,109,1) 100%);
}